@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Raleway:wght@400;600;700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: "Raleway", sans-serif;
}

/* Layout */

.centered-column {
    width: 70%;
    max-width: 700px;
    margin: auto;
}

/* Hero */
.s1 {
    background-image: url("../images/background 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.s1 .centered-column {
    width: 70%;
    max-width: 700px;
    margin: 80px auto 0;
}

.s1 h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 60px;
    color: #3d0058;

    margin-bottom: 20px;
}

.s1 p {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: #3d0058;

    margin-bottom: 40px;
}
/* Book Sections */

.s2,
.s3,
.s4,
.s5,
.s6 {
    text-align: center;
    padding: 80px 20px;
}

/* Backgrounds */

.s2 {
    background-color: #ffd3e2;
}

.s3 {
    background-color: #b4bedd;
}

.s4 {
    background-color: #dfc48a;
}

.s5 {
    background-color: #973d3d;
}

.s6 {
    background-color: #3a505a;
}

/* Images */

.s2 img,
.s3 img,
.s4 img,
.s5 img,
.s6 img {
    width: 400px;
}

/* Titles */

.s2 h2,
.s3 h2,
.s4 h2,
.s5 h2,
.s6 h2 {
    font-family: "Cinzel Decorative", serif;
    font-size: 42px;
    margin-top: 30px;
}

/* Paragraphs */

.s2 p,
.s3 p,
.s4 p,
.s5 p,
.s6 p {
    max-width: 500px;
    margin: 20px auto;

    font-size: 20px;
    line-height: 1.6;
}

/* Section Colors */

.s2 h2 {
    color: #8c2b5b;
}

.s2 p {
    color: #5f3f59;
}

.s3 h2 {
    color: #284a87;
}

.s3 p {
    color: #45516d;
}

.s4 h2 {
    color: #8d2332;
}

.s4 p {
    color: #5d4935;
}

.s5 h2 {
    color: #ffe3a8;
}

.s5 p {
    color: #fff5dd;
}

.s6 h2 {
    color: #d7ebff;
}

.s6 p {
    color: #b7d3df;
}

/* Buttons */

.btn {
    display: inline-block;

    margin-top: 15px;
    padding: 14px 30px;

    border-radius: 30px;

    text-decoration: none;

    color: white;

    font-family: "Raleway", sans-serif;
    font-weight: bold;

    cursor: pointer;
}

/* Button Colors */

.hero-btn {
    background-color: #5f2ca3;
}

.broken-heart-btn {
    background-color: #d94b8a;
}

.caraval-btn {
    background-color: #355c9b;
}

.heartless-btn {
    background-color: #8d2332;
}

.alice-btn {
    background-color: #f0a63a;
}

.quicksilver-btn {
    background-color: #7aa3cf;
}