* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}
.logo {
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 40px;
    background-color: #528fb4;
    border-radius: 50px;
    padding: 5px;
}
.categories {
    margin-left: 40px;
}
#navbar {
    background-color: #6baed4;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin-right: 40px;
}

.icons {
    margin-left: auto;
}

#layout {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 25px;
}

#thumbnail-column {
    width: 100px;
}

#thumbnail-column img {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#featured-image-column {
    flex: 1;
}

#featured-image-column img {
    width: 100%;
    border-radius: 15px;
}

#product-info-column {
    width: 400px;
}

#seller-info {
    padding: 15px 0;
    margin: 25px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#seller-info a {
    color: #528fb4;
    text-decoration: none;
}

.button {
    display: block;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #6baed4;
    border-radius: 30px;
}

.button:hover {
    background-color: #528fb4;
}