.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
.color {
    margin: 0px;
    padding: 24px;
}
#p1-c1 {
    background-color: #73d3f8 ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}
#p1-c2 {
    background-color: #4ce2f2 ;
    font-family: font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #15323f;
}
#p1-c3 {
    background-color: #4eefdb ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #15323f;
}
#p1-c4 {
    background-color: #7ef8b8 ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #15323f;
}
#p1-c5 {
    background-color: #7f9ade ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #15323f;
    
}
#t1 {
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #48a3c7;
}

#p2-c1 {
    background-color: #ff83bc ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #3d1113;
}
#p2-c2 {
    background-color: #ffa188 ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #3d1113;
}
#p2-c3 {
    background-color: #ffda68 ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #3d1113;
}
#t2 {
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #e068a0;
}

#p3-c1 {
    background-color: #6a9a4e ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #20220a;
}
#p3-c2 {
    background-color: #a6af55;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #20220a;
}
#p3-c3 {
    background-color: #e3c269 ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color:  #20220a;
}
#p3-c4 {
    background-color: #ffd38a ;
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color:  #20220a;
}
#t3 {
    font-family: font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    color: #6a9a4e;
}
.giff {
    display: block;
    margin: auto;
    padding: 24px;
    width: 500px;
}